{% extends "base.html" %}

{% block title %}Events | Rank Realm{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/events.css">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" id="add-event-container">
    <a href="/add_event" class="btn mb-4">Create Event</a>
</div>
<div class="diagonal-separator"></div>
<div class="content-wrapper">
    <div class="my-5">
        <h1 class="text-center mb-4">Upcoming Events</h1>

        <!-- Search bar -->
        <form class="input-group mb-3" id="search-form">
            <input type="text" class="search-bar rounded-pill" placeholder="Search for an event">
        </form>

        <!-- Content -->
        {% for event in events %}
        <div class="event">
            <h3>{{ event.game.title }}</h3>
            <p>Start Date: {{ event.start_date }}</p>
            <p>End Date: {{ event.end_date }}</p>
            <a href="{{ url_for('views.individual_event', event_id=event.id) }}" class="btn btn-primary">View Event</a>
            {% if current_user.is_authenticated and event.owner_id == current_user.id %}
            <form action="{{ url_for('views.delete_event', event_id=event.id) }}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete Event</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}