{% extends "base.html" %}
{% block title %}Rank Realm{% endblock %}

{% block content %}
<div class="header-container">
    <img class="bg-img" src="../static/images/image.jpeg" alt="Background Image">
    {% include 'navbar.html' %}
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-dark text-white custom-card">
                <img src="../static/images/valorant.png" class="card-img-top" alt="Valorant Logo">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                    <a href="#" class="text-white">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white custom-card">
                <img src="rocket-league-logo.png" class="card-img-top img-fluid" alt="Rocket League Logo">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                    <a href="#" class="text-white">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white custom-card">
                <img src="../static/images/cs2.jpg" class="card-img-top img-fluid" alt="CS 2 Logo"
                    style="width: min-content;">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                    <a href="#" class="text-white">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}