<style>
    #home {
        border-bottom-left-radius: 10px;
    }

    #login {
        border-bottom-right-radius: 10px;
    }
</style>

<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Rank Realm</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a id="home" class="nav-link bg-light text-dark" href="/home">Home</a>
                <a class="nav-link bg-light text-dark" href="/event">Events</a>
                <a class="nav-link bg-light text-dark" href="/games">Games</a>
                <a class="nav-link bg-light text-dark" href="/about">About</a>
                <a id="login" class="nav-link bg-light text-dark" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>